@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}
nav{
    width: 100%;
    height: 15vh;
    background-color: #444444;
}
header{
height: 27vh;
background-color: #444444;
}
.logo-header{
    width: 150px;
    height: 150px;
}
.general_nav-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.nav-header{
    width: 80%;
    display: flex;
    justify-content: space-between;
    border-bottom:  solid 2px rgb(255, 255, 255);
}
.header-burger{
    position: fixed;
    width: 30%;
    height: 100%;
    z-index: 15;
    right: -70%;
    transition: 0.25s all ease;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}
.burger-block{
    background-color: rgba(0, 0, 0, 0);
    border: none;
    height: 15vh;
    display: flex;
    align-items: end;
}
.line_bottom{
    margin: 0 auto;
    width: 90%;
 border-bottom:  solid 3px rgb(255, 255, 255);
}
.descriptiom{
    font-family: "Inter", sans-serif;
    text-decoration: none;
    color: white;
    font-size: 30px;
    width: 40vw;
    font-weight: 500;
    font-style: italic;
}
.text_header{
    display: flex;
    align-items: end;
    justify-content: right;
    width: 50vw;
    height: 70vh;
}
h1{
    font-family: "Inter", sans-serif;
    text-decoration: none;
    color: white;
    font-size: 65px;
    font-style: italic;
    font-weight: 800;
    width: 40vw;
    height: 30vh;
}
.burgerClose{
    background-color: rgba(0, 0, 0, 0);
    border: none;
}
.spisok-burger{
    list-style: none;
}
.links-burger{
    font-family: "Inter", sans-serif;
    text-decoration: none;
    color:#D49E35;
    font-size: 35px;
    font-weight: 700;
}
.stroca-poiska{
    width:90vh;
    height: 7vh;
    border-radius: 10px;
    border-color: rgb(255, 255, 255);
    border-top: #EEEEEE;
    border-left: #EEEEEE;
    background-image: url("/пикчерс/search.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 7%;
    text-indent: 2%;
}
.search{
    height: 15vh;
    display: flex;
    align-items: end;
}
.header-burger-close{
    margin-top: -300px;
    margin-left: 350px;
}
.information-fo-user{
    display: flex;
    justify-content: center;
    align-items: end;
    height: 50vh;
}
.li-a{
    height: 60px;
}
.services-general-container{
    width: 100%;
    height: 150vh;
    background-color: #444444;
}
.heading-container{
    width: 100%;
}
.heading-box{
    width: 100%;
    display: flex;
    justify-content: center;
}
.heading-box-subtitle{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
}
.ser-text{
    font-family: "Inter", sans-serif;
    text-decoration: none;
    color: white;
    font-size: 40px;
    font-weight: 600;
}
.subtitle-text{
    font-family: "Inter", sans-serif;
    text-decoration: none;
    color: #D49E35;
    font-size: 30px;
    font-weight: 600;
}
.container-servises{
    width: 90%;
    height: 60vh;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
}
.block-service-one{
    width: 40vw;
    height: 60vh;
    /* background-color: blueviolet; */
    background-image: url("/yslugi/капчи/serv-one.png");
    background-repeat: no-repeat;
}
.block-service-two{
    width: 40vw;
    height: 60vh;
    background-color: rgb(153, 226, 43);
}
.move-block{
    width: 100%;
    display: flex;
    justify-content: center;
}
.text-one{
    color: white;
    font-size: 25px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
}
.text-two{
    color: white;
    font-size: 18px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
}
.block-dop-1{
    display: flex;
    height: 341px;
    align-items: end
}
.block-dop-2{
    display: flex;
    align-items: end;
    height: 28px;
}
.btn-1{
    width: 150px;
    height: 50px;
    background-color: #D49E35;
    border: none;
    color: white;
    font-size: 23px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    cursor: pointer;
}
.btn-block-1{
    height: 65px;
    display: flex;
    align-items: end;
    padding: 0px 20px;
}
.text-block-1{
 padding: 0px 20px;
}
.block-service-two{
    width: 40vw;
    height: 60vh;
    /* background-color: blueviolet; */
    background-image: url("/yslugi/капчи/servis-two.png");
    background-repeat: no-repeat;
}
.block-service-three{
    width: 40vw;
    height: 60vh;
    /* background-color: blueviolet; */
    background-image: url("/yslugi/капчи/servis-two.png");
    background-repeat: no-repeat;
}
.pop_up-bg{
 position: fixed;
 width: 100%;
 height: 100%;
 top: 0;
 left: 0;
 background-color: rgba(0, 0, 0, 0.5);
 visibility: hidden;
}
.general-pop_up{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 500px;
    background-color: #EEEEEE;
    transform: translate(-50%,-50%);
    visibility: hidden;
}
.move-block-two{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 68vh;
    align-items: end;
}
.block-service-three{
    width: 40vw;
    height: 60vh;
    /* background-color: blueviolet; */
    background-image: url("/yslugi/капчи/ser-three.png");
    background-repeat: no-repeat;
}
.block-service-four{
    width: 40vw;
    height: 60vh;
    /* background-color: blueviolet; */
    background-image: url("/yslugi/капчи/ser-four.png");
    background-repeat: no-repeat;
}
.footer_container-general{
    width: 100%;
    height: 15vh;
    background-color:#D49E35;
}
.footer-container{
    width: 100%;
    height: 15vh;
}
.logo-text-footer{
    display: flex;
    width: 40%;
    justify-content: space-between;
}
.logo-footer{
    width: 100px;
    height: 100px;
}
.place-text{
    font-family: "Inter", sans-serif;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    width: 220px;
    text-align: center;
}
.telephone-text{
    font-family: "Inter", sans-serif;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    width: 190px;
    text-align: center;
}
.text-footer-container{
    display: flex;
    align-items: end;
    height: 10vh;
}
.social-networs-container{
    width: 90%;
    display: flex;
    justify-content: right;
    margin-top: -90px;
}
.us-soc{
    font-family: "Inter", sans-serif;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}
.header-soc_netw{
    width: 100%;
    display: flex;
}
.icons{
    width: 100%;
    height: 7vh;
    align-items: end;
    display: flex;
    justify-content: space-between;
}
.soc-icon-img{
    width: 38px;
    height: 38px;
}
#close{
    border: none;
}
.btn-pop_up{
    width: 100%;
    display: flex;
    justify-content: right;
}
.heading-pop{
    width: 100%;
    display: flex;
    justify-content: center;
}
.zagolov{
    font-family: "Inter", sans-serif;
    color: #343434;
    font-size: 20px;
    font-weight: 600;
}
.box-of-input-name{
    width: 100%;
    display:flex;
    justify-content:center ;
    height: 10vh;
    align-items: end;
}
.box-of-input-number{
    width: 100%;
    display:flex;
    justify-content:center ;
    height: 8vh;
    align-items: end;
}
.your_name{
border: 2px solid #999999;
width: 300px;
height: 42px;
}
.your_number{
    border: 2px solid #999999;
    width: 300px;
    height: 42px;
}
.but-pop_ocno{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    height: 100px;
}
.otprav{
    font-family: "Inter", sans-serif;
    background-color: #D49E35  ;
    font-size: 20px;
    font-weight: 600;
    color: white;
    border: none;
    width: 200px;
    height: 50px;
}
.document{
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 600;
    color:#7B6E6E;
    text-align: center;
}
.personal-date{
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 600;
    color:#D49E35 ;
}
.text-config{
    height: 100px;
    display: flex;
    align-items: end;
}
@media (max-width:992px) {
    header{
       height: 15vh;
    }
    h1{
       color: white;
       font-size: 65px;
       width: 76vw;
       height: 16vh;
   }
   .text_container{
       width: 39vw;
       height: 70vh;
   }
   .descriptiom{
       width: 47vw;
   }
   .search {
    height: 10vh;
   }
   .stroca-poiska {
    width: 33vh;
    height: 4vh;}
    .bu-logo{
        width: 52px;
    height: 37px;
    }
    .burger-block {
        height: 9.5vh;
    }
    .button-sec-5 {
        margin-right: 42px;
    }
    .btn-sec5 {
        width: 17vw;
        height: 4vh;
    }
    .checkbox-container {
        margin-left: 10px;
    }
    .text-footer-container {
        height: 7vh;
    }
    .place-text {
        font-size: 13px;
    }
    .telephone-text {
    font-size: 14px;
}
    .us-soc {
    font-size: 16px;
}
    .icons {
    height: 4vh;
}
.social-networs-container {
    width: 97%;
}
.subtitle-text {
    font-size: 26px;
}
.ser-text {
    font-size: 29px;
}
.block-service-two {
    width: 40vw;
    height: 60vh;
}
.block-service-one {
    width: 40vw;
    height: 43vh;
}
.block-service-two {
    width: 40vw;
    height: 43vh;
}
.block-service-three {
    width: 40vw;
    height: 43vh;
}
.block-service-four{
    width: 40vw;
    height: 43vh;
}
.move-block-two {
    height: 46vh;
}
.block-dop-2 {
    display: flex;
    align-items: end;
    height: 74px;
}
.text-two {
    width: 252px;
}
.footer_container-general {
    width: 100%;
    height: 15vh;
}
.text-footer-container {
    height: 7vh;
}
.place-text {
    font-size: 13px;
}
.telephone-text {
font-size: 14px;
}
.us-soc {
font-size: 16px;
}
.icons {
height: 4vh;
}
.social-networs-container {
width: 97%;
}
.services-general-container {
    width: 100%;
    height: 112vh;
    background-color: #444444;
}
footer{
    width: 100%;
    height: 55vh;
}
.burger-block {
    height: 9.5vh;
}
.header-burger {
    position: fixed;
    width: 50%;
    height: 100%;
    z-index: 15;
    right: -70%;
    transition: 0.25s all ease;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-burger-close {
    margin-top: -545px;
    margin-left: 290px;
}
.information-fo-user {
    height: 31vh;
}
.header-burger-close {
    margin-top: -373px;
    margin-left: 290px;
}
.general-pop_up {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 539px;
    background-color: #EEEEEE;
    transform: translate(-50%, -96%);
    visibility: hidden;
}
}
@media (max-width:430px){
    .logo-header {
        width: 71px;
        height: 77px;
    }
    h1 {
        color: white;
        font-size: 34px;
        width: 76vw;
        height: 16vh;
    }
        .stroca-poiska {
            width: 20vh;
            height: 4vh;
        }
        .search {
            height: 7vh;
        }
        .bu-logo {
            width: 39px;
            height: 26px;
        }
        .burger-block {
            height: 6.5vh;
        }
        .ser-text {
            font-size: 25px;
        }
        .subtitle-text {
            font-size: 12px;
        }
        .block-service-one {
            width: 45vw;
            height: 39vh;
        }
        .block-service-two{
            width: 40vw;
            height: 39vh;
        }
        .block-service-three {
            width: 45vw;
            height: 39vh;
        }
        .block-service-four {
            width: 40vw;
            height: 39vh;
        }
        .block-dop-1 {
            height: 181px;
        }
        .text-one {
            font-size: 15px;
        }
        .text-two {
            font-size: 13px;
        }
        .footer_container-general {
            /* margin-top: -279px; */
        }
        .social-networs-container {
            width: 76%;
            margin-top: -22px;
        }
        .soc-icon-img {
            width: 24px;
            height: 28px;
        }
        .place-text {
            font-size: 12px;
            width: 125px;
        }
        .telephone-text {
            font-size: 15px;
            width: 175px;
        }
        .logo-footer {
            width: 88px;
            height: 78px;
        }
        footer{
            height: 34vh;
        }
        .burger-block {
            height: 6.5vh;
        }
        .header-burger {
            width: 100%;
            right: 3%;
        }
        .header-burger-close {
            margin-top: -373px;
            margin-left: 281px;
        }
        .information-fo-user {
            height: 39vh;
        }
        .general-pop_up {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 348px;
            height: 539px;
            background-color: #EEEEEE;
            transform: translate(-50%, -62%);
            visibility: hidden;
        }
    }