@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}
nav{
    width: 100%;
    height: 15vh;
    background-color: #444444;
}
header{
height: 27vh;
background-color: #444444;
}
.logo-header{
    width: 150px;
    height: 150px;
}
.general_nav-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.nav-header{
    width: 80%;
    display: flex;
    justify-content: space-between;
    border-bottom:  solid 2px rgb(255, 255, 255);
}
.header-burger{
    position: fixed;
    width: 30%;
    height: 100%;
    z-index: 15;
    right: -70%;
    transition: 0.25s all ease;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}
.burger-block{
    background-color: rgba(0, 0, 0, 0);
    border: none;
    height: 15vh;
    display: flex;
    align-items: end;
}
.line_bottom{
    margin: 0 auto;
    width: 90%;
 border-bottom:  solid 3px rgb(255, 255, 255);
}
.descriptiom{
    font-family: "Inter", sans-serif;
    text-decoration: none;
    color: white;
    font-size: 30px;
    width: 40vw;
    font-weight: 500;
    font-style: italic;
}
.text_header{
    display: flex;
    align-items: end;
    justify-content: right;
    width: 50vw;
    height: 70vh;
}
h1{
    font-family: "Inter", sans-serif;
    text-decoration: none;
    color: white;
    font-size: 65px;
    font-style: italic;
    font-weight: 800;
    width: 40vw;
    height: 30vh;
}
.burgerClose{
    background-color: rgba(0, 0, 0, 0);
    border: none;
}
.spisok-burger{
    list-style: none;
}
.links-burger{
    font-family: "Inter", sans-serif;
    text-decoration: none;
    color:#D49E35;
    font-size: 35px;
    font-weight: 700;
}
.stroca-poiska{
    width:90vh;
    height: 7vh;
    border-radius: 10px;
    border-color: rgb(255, 255, 255);
    border-top: #EEEEEE;
    border-left: #EEEEEE;
    background-image: url("/пикчерс/search.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 7%;
    text-indent: 2%;
}
.search{
    height: 15vh;
    display: flex;
    align-items: end;
}
.header-burger-close{
    margin-top: -300px;
    margin-left: 350px;
}
.information-fo-user{
    display: flex;
    justify-content: center;
    align-items: end;
    height: 50vh;
}
.li-a{
    height: 60px;
}

.general-container-contacts{
    width: 100%;
    height: 100vh;
    background-color: #444444
}
.heading-block{
    width: 100%;
    display: flex;
    justify-content: center;
}
.inf-block{
    width: 100%;
    height: 100px;
}
.heading-text{
    font-family: "Inter", sans-serif;
    color: white;
    font-size: 40px;
    font-weight: 500;
}
.contacts-container{
    width: 100%;
    display: flex;
    height: 90vh;
    align-items: end;
    /* background-color: #D49E35 */
}
.info-cont{
    width: 45%;
    height: 80vh;
    /* background-color: aqua; */
}
.woman-picture{
    width: 55%;
    height: 80vh;
    /* background-color: blueviolet; */
}
.place-block{
    width: 65%;
    height: 180px;
    /* background-color: brown; */
    display: flex;
    justify-content: right;
}
.place{
    width: 70px;
    height: 70px;
}
.place-h1{
    font-family: "Inter", sans-serif;
    color: #D49E35;
    font-size: 25px;
    font-weight: 600;
}
.place-podzag{
    font-family: "Inter", sans-serif;
    color: white;
    font-size: 20px;
    width: 300px;
    font-weight: 600;
}
.place-img-block{
    height: 11vh;
    display: flex;
    align-items: end;
}
.tel-block{
    width: 65%;
    height: 180px;
    /* background-color: rgb(165, 42, 89); */
    display: flex;
    justify-content: right;
}
.tel-img-block{
    height: 11vh;
    display: flex;
    align-items: end;
}
.tel{
    width: 70px;
    height: 70px;
}
.tel-podzag{
    font-family: "Inter", sans-serif;
    color: white;
    font-size: 20px;
    width: 300px;
    font-weight: 600;
}
.mail-block{
    width: 65%;
    height: 180px;
    /* background-color: brown; */
    display: flex;
    justify-content: right;
}
.mail-img-block{
    height: 9vh;
    display: flex;
    align-items: end;
}
.mail{
    width: 70px;
    height: 70px;
}
.mail-podzag{
    font-family: "Inter", sans-serif;
    color: white;
    font-size: 20px;
    width: 300px;
    font-weight: 600;
}
.teta-img{
    width: 85%;
    height: 70vh;
}
.footer_container-general{
    width: 100%;
    height: 15vh;
    background-color:#D49E35;
}
.footer-container{
    width: 100%;
    height: 15vh;
}
.logo-text-footer{
    display: flex;
    width: 40%;
    justify-content: space-between;
}
.logo-footer{
    width: 100px;
    height: 100px;
}
.place-text{
    font-family: "Inter", sans-serif;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    width: 220px;
    text-align: center;
    margin-top: 120px;
}
.telephone-text{
    font-family: "Inter", sans-serif;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    width: 190px;
    text-align: center;
}
.text-footer-container{
    display: flex;
    align-items: end;
    height: 10vh;
}
.social-networs-container{
    width: 90%;
    display: flex;
    justify-content: right;
    margin-top: -90px;
}
.us-soc{
    font-family: "Inter", sans-serif;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}
.header-soc_netw{
    width: 100%;
    display: flex;
}
.icons{
    width: 100%;
    height: 7vh;
    align-items: end;
    display: flex;
    justify-content: space-between;
}
.soc-icon-img{
    width: 38px;
    height: 38px;
}
@media (max-width:992px) {
    header{
       height: 16vh;
       background-size: cover;
    }
    h1{
       color: white;
       font-size: 65px;
       width: 76vw;
       height: 16vh;
   }
   .text_container{
       width: 39vw;
       height: 70vh;
   }
   .descriptiom{
       width: 47vw;
   }
   .search {
    height: 10vh;
   }
   .stroca-poiska {
    width: 33vh;
    height: 4vh;}
    .bu-logo{
        width: 52px;
    height: 37px;
    }
    .burger-block {
        height: 9.5vh;
    }
    .teta-img {
        width: 91%;
        height: 36vh;
    }
    .place-block {
        width: 103%;
        height: 180px;
    }
    .tel-block {
        width: 103%;
        height: 180px;
    }
    .mail-block {
        width: 103%;
        height: 180px;
    }
    .place-img-block {
        height: 8vh;
        display: flex;
        align-items: end;
    }
    .tel-img-block {
        height: 7vh;
        display: flex;
        align-items: end;
    }
    .mail-img-block {
        height: 5vh;
        display: flex;
        align-items: end;
    }
    .footer_container-general {
        width: 100%;
        height: 15vh;
    }
    .text-footer-container {
        height: 7vh;
    }
    .place-text {
        font-size: 13px;
    }
    .telephone-text {
    font-size: 14px;
    }
    .us-soc {
    font-size: 16px;
    }
    .icons {
    height: 4vh;
    }
    .social-networs-container {
    width: 97%;
    }
    footer{
        width: 100%;
        height: 55vh;
    }
    .general-container-contacts {
        width: 100%;
        height: 52vh;
        background-color: #444444;
    }
    .burger-block {
        height: 9.5vh;
    }
    .header-burger {
        position: fixed;
        width: 50%;
        height: 100%;
        z-index: 15;
        right: -70%;
        transition: 0.25s all ease;
        background-color: rgb(255, 255, 255);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header-burger-close {
        margin-top: -545px;
        margin-left: 290px;
    }
    .information-fo-user {
        height: 31vh;
    }
    .header-burger-close {
        margin-top: -373px;
        margin-left: 290px;
    }
}
@media (max-width:430px){
    .logo-header {
        width: 71px;
        height: 77px;
    }
    h1 {
        color: white;
        font-size: 34px;
        width: 76vw;
        height: 16vh;
    }
        .stroca-poiska {
            width: 20vh;
            height: 4vh;
        }
        .search {
            height: 7vh;
        }
        .bu-logo {
            width: 39px;
            height: 26px;
        }
        .burger-block {
            height: 6.5vh;
        }
        .social-networs-container {
            width: 76%;
            margin-top: -22px;
        }
        .soc-icon-img {
            width: 24px;
            height: 28px;
        }
        .place-text {
            font-size: 12px;
            width: 125px;
        }
        .telephone-text {
            font-size: 15px;
            width: 175px;
        }
        .logo-footer {
            width: 88px;
            height: 78px;
        }
        /* footer{
            height: 48vh;
        } */
        .burger-block {
            height: 6.5vh;
        }
        .header-burger {
            width: 100%;
            right: 3%;
        }
        .header-burger-close {
            margin-top: -373px;
            margin-left: 281px;
        }
        .information-fo-user {
            height: 39vh;
        }
        .heading-text {
            font-size: 22px;
        }
        .teta-img {
            visibility: hidden;
        }
        .info-cont {
            width: 100%;
            height: 83vh;
        }
            .place-block {
                width: 103%;
                height: 119px;
    }
    .tel-block {
        width: 103%;
        height: 130px;
    }
    .contacts-container {
        height: 85vh;
    }
    .place-text {
        margin-top: 61px;
    }
    .general-container-contacts {
        width: 100%;
        height: 44vh;
        background-color: #444444;
    }
    .footer_container-general {
        width: 100%;
        height: 26vh;
    }
}